.body {
    margin: 15px;
}


.under-construction {
    background-color: red;
    font-size: 20px;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 12px;
    transition: 0.3s;
    font-size: 20px;
    font-family: "Helvetica Neue", sans-serif;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    border-top: none;
}
h2 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-family: "Helvetica Neue", sans-serif;
}


.ag-root-wrapper {
    border-radius: 0px;
}
.ag-grid {
    flex: 1 1 0px;
    width: 100%;
    height: 570px;
}
.ag-grid-quick-filter {
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 175px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
}
.ag-header-cell-text {
    font-family: "Helvetica Neue", sans-serif;
}
.ag-cell-value {
    font-family: "Helvetica Neue", sans-serif;
}
.ag-paging-panel {
    font-family: "Helvetica Neue", sans-serif;
}


.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-img {
    width:40px;
    height:40px;
}
